<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">SGH ICON</h4>
            <p class="card-text">02 Oct 2019 (Wed) <br />02:30 PM
            </p>
            <p>
                Singapore General Hospital<br />
                OTOLARYNGOLOGY<br />
                Clinic A, Blk 3 Basement 1
            </p>
            <div class="btn-toolbar " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary m-1">Cancel</button>
                <button type="button" class="btn btn-primary m-1">Reschedule</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Clinic ICON</h4>
            <p class="card-text">22 Apr 2020 (Tues) <br />09:30 AM
            </p>
            <p>
                Eunos family clinic<br />
                Room 1
            </p>
            <div class="btn-toolbar " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary m-1">Cancel</button>
                <button type="button" class="btn btn-primary m-1">Reschedule</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">SGH ICON</h4>
            <p class="card-text">12 Jun 2021 (Wed) <br />12:30 PM
            </p>
            <p>
                Singapore General Hospital<br />
                Dental<br />
                Clinic C, Blk 3 Basement 1
            </p>
            <div class="btn-toolbar " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary m-1">Cancel</button>
                <button type="button" class="btn btn-primary m-1">Reschedule</button>
            </div>
        </div>
    </div>
</div>