<div class="jumbotron jumbotron-fluid">
    <div class="container col-10">
        <div class="card-columns">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="/profile" class="card-link">Profile</a></h4>
                    <p class="card-text">Profile page: <a href="/profile" class="card-link"> link</a></p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="/reminders" class="card-link">Reminders</a></h4>
                    <p class="card-text">Mon, 2pm - calcium tablet 35mg 1pc</p>
                    <p class="card-text">Daily, 6pm - paracetamol tablet 20mg 2pc</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="/appointments" class="card-link">Upcoming appointments</a></h4>
                    <p class="card-text">23 May 2020 - Singapore General Hospital, Clinic A, Orthopaedics</p>
                    <p class="card-text">02 Apr 2021 - Eunos family medical clinic</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title">Medications</h4>
                    <p class="card-text">Some text inside the fourth card</p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title">Bills</h4>
                    <p class="card-text">Bill payment: <a href="/billpayment" class="card-link"> link</a></p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h4 class="card-title">View medical records</h4>
                    <p class="card-text">Some text inside the sixth card</p>
                </div>
            </div>
        </div>
    </div>
</div>