<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Our OOADP Project links</p>
		<p>billPayment: <a href="/bill/billPayment" class="card-link"> link</a></p>
		<p>creditcard: <a href="/bill/creditcard" class="card-link"> link</a></p>
		<p>debitcard: <a href="/bill/debitcard" class="card-link"> link</a></p>
		<p>queueNumber: <a href="/queue/queueNumber" class="card-link"> link</a></p>
		<p>doctorConsultation: <a href="/doctorConsultation" class="card-link"> link</a></p>
		<p>collection: <a href="/collection" class="card-link"> link</a></p>
		<p>symptom: <a href="/symptom" class="card-link"> link</a></p>
		<p>symptomanswer: <a href="/symptomanswer" class="card-link"> link</a></p>
		<p>patientinformation: <a href="/patientinformation" class="card-link"> link</a></p>
	</div>
	<br>
</div>
