<div class="container">
    <p> </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date of Registration:</th>
                <td>12/04/2014</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Patient Name:</th>
                <td>Bob Lim</td>
            </tr>
            <tr>
                <th>NRIC:</th>
                <td>S9948175E</td>
            </tr>
            <tr>
                <th>Sex:</th>
                <td>Male</td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td>21/11/2010</td>
            </tr>
            <tr>
                <th>Age :</th>
                <td>18</td>
            </tr>
            <tr>
                <th>Nationality :</th>
                <td>Singaporean</td>
            </tr>
            <tr>
                <th>Religion :</th>
                <td>NIL</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>321 Denver Road #03-211 Singapore 520321</td>
            </tr>
            <tr>
                <th>Home Phone #:</th>
                <td>6029 2301</td>
            </tr>
            <tr>
                <th>Cell Phone #:</th>
                <td>8214 9412</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Allegies:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://www.webmd.com/drugs/2/drug-5919/tetracycline-oral/details" class="card-link">Tetracycline</a></td>
            </tr>

        </tbody>
    </table>
</div>