<div class="search-container">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<hr>
<div>
    <img src = "...">
    <span name = "name">Niyu Yu Hong</span>
    <span name = "NRIC">S9975358G</span>
    <span name = "medical_hist">Medical History</span>
    <div>
        <table>
            <tr>
                <th>Medicine</th>
                <th>Dispend or not dispend</th>
            </tr>
            <tr>
                <td>Doxycyline (2 tablets , 3 times per day)</td>
                <td><input type="checkbox" value="check"></td>
            </tr>
            <tr>
                <td>Clindamycin (1 tablets , 3 times per day)</td>
                <td><input type="checkbox" value="check"></td>
            </tr>
            <tr>
                <td>Linzolid (1 tablets, once a day)</td>
                <td><input type="checkbox" value="check"></td>
            </tr>
        </table>
    </div>
    <span>Allergy</span>
    <div name = "allergy_container">He is allergy to peanut</div>
    <button>Done</button>
</div>
<hr>