

<div class="container">
    <div class="card card-body">
        <h3 id="title">Enter Payment Information</h3>
		<form action="#" method="post" id="payBill">
			<div class="form-group">
				<label for="creditcardtype">Credit Card Type *</label>
				<div class="form-block">
				<div class="form-check form-check-inline" style="display: inline-block;">
				    <input class="form-check-input" type="radio" name="creditcardtype" id="visa" value="Credit Card" checked required>
					<label class="form-check-label">VISA</label>
				</div>
				<div class="form-check form-check-inline" style="display: inline-block;">
					<input class="form-check-input" type="radio" name="creditcardtype" id="mastercard" value="Credit Card">
					<label class="form-check-label">Mastercard</label>
				</div>
				<div class="form-check form-check-inline" style="display: inline-block;">
					<input class="form-check-input" type="radio" name="creditcardtype" id="maestro" value="Credit Card">
					<label class="form-check-label">Maestro</label>
				</div>
				</div>
			</div>	
			<div class="form-group">
				<label for="accountNo">Customer Account Number *</label>
				<input type="number" class="form-control" name="accountNo" id="accountNo" rows="1" style="display: block;" required>
			</div>
			<div class="form-group">
				<label for="payAmt">Payment Amount *</label>
				<input type="number" class="form-control" name="payAmt" id="payAmt" rows="1" style="display: block;" required>
			</div>
			<div class="form-group">
				<label for="cardNo">Credit Card Number *</label>
				<input type="number" class="form-control" name="cardNo" id="cardNo" rows="1" style="display: block;" required></textarea>
			</div>		
            <div class="form-inline">			
			    <div class="form-group">
				    <label for="cardExpiry">Credit Card Expiry Date *</label>
				    <input type="date" class="form-control" name="cardExpiry" id="cardExpiry" rows="1" style="display: block;" required></textarea>
			    </div>	
			    <div class="form-group">
				    <label for="cardVerify">Credit Card Verification Code  *</label>
				    <input type="number" class="form-control" name="cardVerify" id="cardVerify" rows="1" style="display: block;" required></textarea>
			    </div>
            </div>	
		    <div class="form-inline">
			    <div class="form-group">
			        <button type="submit" id="payCreditCard" class="btn btn-info">Submit and Pay</button>
			    </div>
			    <div class="form-group">
			        <button type="reset" id="Reset" class="btn btn-danger">Reset</button>
			    </div>
		    </div>			
		</form>
	</div>
</div>