<link rel="stylesheet" href="/css/doc_consult.css">



<h1>Patient</h1>
<img src="...">
<p name = "patient_name">Name : niyu yu hong</p>
<p name = "patient_NIRC">NIRC : S9975358G</p>
<form>
    <p>Describtion</p>
    <input type = "text" name = "patient_describ">
    <p>Medicine</p>
    <div class = "medicine_box">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
        <div>
            <input type = "checkbox" name = "Doxycyline" value = "Doxycyline">Doxycyline (2 tablets , 3 times per day)</br>
            <input type = "checkbox" name = "Clindamycin" value = "Clindamycin">Clindamycin (1 tablets , 3 times per day)</br>
            <input type = "checkbox" name = "Linzolid" value = "Linzolid">Linzolid (1 tablets, once a day)</br>
        </div>
    </div>
    <input type = "submit" value = "submit">
</form>

<button>Next patient</button>