<link rel="stylesheet" type="text/css" href="/css/doctor_consult.css">

<div class="container">
    <h1>Patient</h1>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a href="#" class="btn btn-primary">Niyu Yu Hong</a>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                                    <img src="...">
                                    <p name = "patient_name">Name : niyu yu hong</p>
                                    <p name = "patient_NIRC">NIRC : S9975358G</p>
                                    <form>
                                        <h3>Description</h3>
                                        <input type = "text" id = "patient_describ">
                                        <h3>Medicine</h3>
                                        <div id = "medicine_box">
                                            <input type="text" placeholder="Search.." name="search">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                            <div>
                                                <input type = "checkbox" id = "Doxycyline" value = "Doxycyline (2 tablets , 3 times per day)">Doxycyline (2 tablets , 3 times per day)</br>
                                                <input type = "checkbox" id = "Clindamycin" value = "Clindamycin (1 tablets , 3 times per day)">Clindamycin (1 tablets , 3 times per day)</br>
                                                <input type = "checkbox" id = "Linzolid" value = "Linzolid (1 tablets, once a day)">Linzolid (1 tablets, once a day)</br>
                                            </div>
                                        </div>
                                        <input type = "submit" value = "submit">
                                    </form>

                                    <button>Next patient</button>
                </div>
            </div>
        </div>
    </div>
</div>
