<link rel="stylesheet" href="/css/billPayment.css">

<div class="container">
    <div class="card card-body">
	    <h3 id="title">Current Queue Number</h3>
		<p id="queueNo">A123</p>
		<p id="counter">Please proceed to Counter: <span id="counterNo">1</span></p>
	</div>
	<div class="row" id="previousNo">
	    <div class="col-sm-2">
		    <p>A122</p>
			<p>Counter 2</p>
		</div>
	    <div class="col-sm-2">
		    <p>A121</p>
			<p>Counter 3</p>
		</div>
		<div class="col-sm-2">
		    <p>A120</p>
			<p>Counter 4</p>
		</div>
		<div class="col-sm-2">
		    <p>A119</p>
			<p>Counter 5</p>
		</div>
		<div class="col-sm-2">
		    <p>A118</p>
			<p>Counter 6</p>
		</div>
	</div>
	<div class="card card-body">
	    <p id="title">Note: Queue number may not be called in sequence.</p>
	</div>
</div>