<link rel="stylesheet" href="/css/symptomchecker.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="wholeForm">
    <div class="questionQuestion">
            <h1 id="questionHeading">Question</h1>
    </div>
    <div class="formContainer">
            <form class="formForm">
                <inupt type="radio" name="answerOne" id="answerOne"></inupt>
                <label for="qn1">Answer one</label>
                </br>
                <inupt type="radio" name="answerTwo" id="answerTwo"></inupt>
                <label for="qn2">Answer two</label>
                </br>
                <inupt type="radio" name="answerThree" id="answerThree"></inupt>
                <label for="qn3">Answer three</label>
                </br>
                <inupt type="radio" name="answerFour" id="answerFour"></inupt>
                <label for="qn4">Answer four</label>
                </br></br>
                <input type="submit" value="Back" id="submitBack" />
                <input type="submit" value="Next" id="submitNext" />
            </form>
    </div>
</div>