<link rel="stylesheet" href="/css/symptomchecker.css">

<div class="wholeForm">
    <div class="symptomAnswer">
            <h1 id="symptomAnswer">Your Symptom Is:.....</h1>
    </div>
    <div class="symptomNotes">
            <p id="symptomNotes"> here would be talking about the symptom</p>
    </div>
    <div class="symptomRecommend">
            <p id="symptomRecommend">To recommend to see a doctor or not</p>
    </div>
    <div class="symptomButtons">
        <form class="symptomFormButton">
            <input type="submit" value="No Thanks" id="submitNT" />
            <input type="submit" value="Book Appointment" id="submitBA" />
        </form>
    </div>
</div>