<link rel="stylesheet" href="/css/symptomchecker.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
    <div class="form">
        <form>
            <label>Type what question you want to insert</label>
            <input type="text" name="symptomquestioninsert" placeholder="Type the question here">
            <label>Type question one</label>
            <input type="text" name="symptomquestiononeinsert" placeholder="Type question one here">
            <label>Type question two</label>
            <input type="text" name="symptomquestiontwoinsert" placeholder="Type question two here">
            <label>Type question three</label>
            <input type="text" name="symptomquestionthreeinsert" placeholder="Type question three here">
            <label>Type question four</label>
            <input type="text" name="symptomquestionfourinsert" placeholder="Type question four here">
        </form>
    </div>
</div>