<link rel="stylesheet" href="/css/symptomchecker.css">

<div class="wholeForm">
    <div class="questionQuestion">
            <h1 id="questionHeading">Question</h1>
    </div>
    <div class="formContainer">
            <form class="formForm">
                <label for="qn1">Answer one</label>
                <inupt type="radio" id="questionOne"></inupt>
                </br>
                <label for="qn2">Answer two</label>
                <inupt type="radio" id="questionTwo"></inupt>
                </br>
                <label for="qn3">Answer three</label>
                <inupt type="radio" id="questionThree"></inupt>
                </br>
                <label for="qn4">Answer four</label>
                <inupt type="radio" id="questionFour"></inupt>
                </br></br>
                <input type="submit" value="Back" id="submitBack" />
                <input type="submit" value="Next" id="submitNext" />
            </form>
    </div>
</div>