<link rel="stylesheet" href="/css/symptomchecker.css">
<script src="/javascript/SymptomFunctions.js"></script>

<div class="wholeForm">
    <div class="questionQuestion">
            <h1 id="questionHeading">Question</h1>
    </div>
    <div class="formContainer">
            <form class="formForm">
                <input type="radio" name="answerOne" id="answer" value="Answer one">Answer one<br>
                <input type="radio" name="answerTwo" id="answer" value="Answer two">Answer two<br>
                <input type="radio" name="answerThree" id="answer" value="Answer three">Answer three<br>
                <input type="radio" name="answerFour" id="answer" value="Answer four">Answer four<br>
                </br></br>
                <input type="button" value="Back" id="submitBack" />
                <input type="button" value="Next" id="submitNext" onclick="redirect_question()" />
            </form>
    </div>
</div>