.medical_box::-webkit-scrollbar{
    width: 20px;
}

.medical_box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

.medical_box::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }