.wholeForm {
    text-align: center;
    padding-top: 100px;
    border: 1px solid black;
}

#submitBack {
    padding-right: 20px;
}

#submitNext {
    padding-left: 20px;
}

#submitNT {
    padding-right: 20px;
}

#submitBA {
    padding-left: 20px;
}

.card {
    position: relative;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0.25rem;
}

.medicalHistory { 
    display: inline-block;
}

#history {
    float: right;
    border: 1px solid grey;
}