.wholeForm {
    text-align: center;
    padding-top: 100px;
    border: 1px solid black;
}

.answer {
    vertical-align: middle;
}

.card {
    position: relative;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0.25rem;
}

.medicalHistory { 
    display: inline-block;
}

#history {
    float: right;
    border: 1px solid black;
}

.nameAge {
    float: left;
    border: 1px solid black;
}

#symptomNotes, #symptomPrescriptions, #symptomComments {
    width: 1050px;
}

#submitSkip, #submitSubmit {
    float: right;
}

.symptomNotes {
    border: 1px solid black;
    display: block;
}

.symptomAnswer {
    border: 1px solid black;
    display: block;
}

.symptomRecimmend {
    border: 1px solid black;
    display: block;
}